/*@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);*/
/*@import url(https://fonts.googleapis.com/css?family=Nunito);*/
/*@import url("https://fonts.googleapis.com/css?family=Rubik:400,500,700");*/

/* ==============
  General
===================*/

body {
  background: #fcfcfc;
  font-family: 'Nunito', sans-serif;
  margin: 0;
}

html {
  overflow-x: hidden;
  position: relative;
  min-height: 100%;
  background: #fcfcfc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
}

h1 {
  line-height: 43px;
}

h2 {
  line-height: 35px;
}

h3 {
  line-height: 30px;
}

h3 small {
  color: #444444;
}

h4 {
  line-height: 22px;
}

h4 small {
  color: #444444;
}

h5 small {
  color: #444444;
}

h6 {
  font-size: 14px;
}

b {
  font-weight: 700;
}

* {
  outline: none !important;
}

a {
  color: #232323;
}

a:hover {
  outline: 0;
  text-decoration: none;
  color: #797979;
}

a:active {
  outline: 0;
  text-decoration: none;
  color: #797979;
}

a:focus {
  outline: 0;
  text-decoration: none;
  color: #797979;
}

code {
  color: #2196F3;
}

.tab-btn {
  display: none;
}

.container-alt {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer {
  background-color: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  bottom: -70px;
  color: #2d3b48;
  text-align: center;
  padding: 20px 30px;
  position: absolute;
  right: 0;
  left: 240px;
}

#wrapper {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.page {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.nav-pills .nav-link {
  padding: .5rem 1rem;
  text-transform: none;
}

/* Social */

.social-links li a {
  -webkit-border-radius: 50%;
  background: #fcfdfd;
  border-radius: 50%;
  color: #9f9f9f;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
}

.card-thumbnail[class*=card-inner] {
  display: block;
  margin-top: -66px;
  margin-bottom: 15px;
}

.card-inner {
  display: inline-block;
  height: 80px;
  line-height: 80px;
  width: 80px;
}

.owl-carousel .owl-dots {
  display: none !important;
}

.dashborad-h .live-tile {
  height: 60px;
}

.dashborad-h #morris-bar-example {
  height: 280px;
}

.dashborad-h #morris-area-chart {
  width: 100%;
  height: 360px;
}

.dashborad-h #animating-donut {
  height: 260px;
}

.dashborad-h .h-360 {
  height: 360px;
}

.dashborad-h #world-map-markers {
  height: 350px;
}

.modal-content .modal-footer {
  padding: 8px 24px 24px;
}



/* ==============
  Session Timeout
===================*/

#session-timeout-dialog .modal-title {
  margin-top: 0;
}

#session-timeout-dialog .close {
  display: none;
}

#session-timeout-dialog .btn-default {
  background-color: #ffffff;
  color: #ef4f4c;
}

#session-timeout-dialog .countdown-holder {
  color: #ef4f4c;
  font-weight: 700;
}

/* ==============
  Form-elements
===================*/

label {
  font-weight: 500;
  font-size: 14px;
  color: #707070;
  line-height: 2;
}

.form-control {
  font-size: 15px;
}

.form-control:focus {
  border-color: #3f51b5;
  box-shadow: none;
}

.custom-control-input:checked~.custom-control-indicator {
  background-color: #3f51b5;
}

.custom-control-input:focus~.custom-control-indicator {
  -webkit-box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #3f51b5;
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #3f51b5;
}

.has-success .form-control {
  border-color: #009688;
  box-shadow: none;
}

.has-warning .form-control {
  border-color: #ffb430;
  box-shadow: none;
}

.has-error .form-control {
  border-color: #ef4f4c;
  box-shadow: none;
}

.input-group-addon {
  border-radius: 2px;
  border: 1px solid #eff3f6;
}

.form-group .form-control select,
.form-group #exampleSelect1 option,
.form-group #exampleSelect2 option {
  color: #707070;
}

select.form-control:not([size]):not([multiple]),
.form-group bmd-form-group is-filled is-focused,
.bmd-form-group.is-focused .form-control,
.form-control:focus {
  color: #707070;
}

.bmd-form-group .checkbox label,
.bmd-form-group .radio label,
.bmd-form-group label {
  font-size: 14px;
  font-weight: 400;
  color: #a7a7a7;
  line-height: 24px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-color: #3f51b5;
}

/* ==============
  Form-Validation
===================*/

.error {
  color: #ff0000;
}

.parsley-error {
  border-color: #ef4f4c;
}

.parsley-errors-list {
  display: none;
  margin: 0;
  padding: 0;
}

.parsley-errors-list.filled {
  display: block;
}

.parsley-errors-list>li {
  font-size: 12px;
  list-style: none;
  color: #ef4f4c;
  margin-top: 5px;
}

/* ==============
  Form-Upload
===================*/

/* Dropzone */

.dropzone {
  min-height: 230px;
  border: 2px dashed rgba(0, 0, 0, 0.3);
  background: white;
  border-radius: 6px;
}

.dropzone .dz-message {
  font-size: 30px;
}

/* ==============
  Form-Advanced
===================*/

/* Datepicker */

.datepicker {
  border: 1px solid #dddddd;
  padding: 8px;
}

.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.today,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today:hover,
.datepicker table tr td.selected,
.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected.disabled:hover,
.datepicker table tr td.selected:hover {
  background-color: #3f51b5 !important;
  background-image: none;
  box-shadow: none;
  color: #ffffff;
}

/* Bootstrap-touchSpin */

.bootstrap-touchspin .input-group-btn-vertical .btn {
  padding: 9px 12px;
}

.bootstrap-touchspin .input-group-btn-vertical i {
  top: 4px;
  left: 8px;
}

.input-group-addon {
  padding: .375rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
}

/* Prism */

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
  background: #eff3f6;
}

/* Rating */

.badge:empty {
  padding: 0;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #d8d8d8;
  height: 38px;
}

.select2-container--default .select2-selection--single:focus {
  outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 38px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 38px;
  right: 8px;
}

.select2-container .select2-selection--multiple {
  min-height: 38px;
  border: 1px solid #d8d8d8;
}

.select2-container .select2-search--inline .select2-search__field {
  margin-top: 8px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  margin-top: 7px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid 1px #d8d8d8;
  outline: 0;
}

/*---datetimepicker---*/

.dtp-btn-cancel {
  margin-right: 5px;
}

.addon-color-picker .btn {
  padding: 8px;
  line-height: 0;
  border-color: #bfbfbf;
}

/*--colorpicker--*/

.asColorPicker-clear {
  display: none;
  position: absolute;
  top: 8px;
  right: 45px;
  text-decoration: none;
}

.asColorPicker-trigger {
  position: absolute;
  top: 0;
  right: 2px;
  height: 32px;
  width: 32px;
  border: 0;
}

.asColorPicker-dropdown {
  max-width: 260px;
}

.asColorPicker-wrap {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-right: 35px;
}

.input-group .input-group-addon {
  border: 1px solid #dddddd;
  width: 36px;
  height: 36px;
}

.form-material label {
  font-weight: 400;
  color: #707070;
}

/* ==============
  Form Editor
===================*/

.mce-panel {
  border-color: #dfe7ed !important;
  background-color: #eff3f6 !important;
}

.mce-menu-item:hover,
.mce-menu-item.mce-selected,
.mce-menu-item:focus {
  background-color: #3f51b5 !important;
}

.mce-menu {
  background-color: #ffffff !important;
}

/* ==============
  Calendar
===================*/

.calendar {
  float: left;
  margin-bottom: 0;
}

.none-border .modal-footer {
  border-top: none;
}

.fc-toolbar {
  margin-bottom: 10px;
}

.fc-toolbar h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
  color: #555555;
}

.fc-day {
  background: #ffffff;
}

.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active,
.fc-toolbar button:focus,
.fc-toolbar button:hover,
.fc-toolbar .ui-state-hover {
  z-index: 0;
}

.fc-widget-header {
  border: 1px solid #d5d5d5;
  background-color: #eff3f6;
}

.fc-widget-content {
  border: 1px solid #d5d5d5;
}

.fc th.fc-widget-header {
  color: #555555;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0;
  font-weight: 700;
  text-transform: uppercase;
}

.fc-button {
  background: #ffffff;
  border: 1px solid #d5d5d5;
  color: #555555;
  text-transform: capitalize;
}

.fc-text-arrow {
  font-family: arial;
  font-size: 16px;
}

.fc-state-hover {
  background: #f5f5f5;
}

.fc-state-highlight {
  background: #f0f0f0;
}

.fc-cell-overlay {
  background: #f0f0f0;
}

.fc-unthemed .fc-today {
  background: #ffffff;
}

.fc-event {
  border-radius: 2px;
  border: none;
  cursor: move;
  font-size: 13px;
  margin: 5px 0;
  padding: 5px 5px;
  text-align: center;
  background-color: #3f51b5;
  color: #ffffff !important;
}

.external-event {
  color: #ffffff;
  cursor: move;
  margin: 10px 0;
  padding: 6px 10px;
}

.fc-basic-view td.fc-week-number span {
  padding-right: 5px;
}

.fc-basic-view td.fc-day-number {
  padding-right: 5px;
}

/* ==============
  Widgets
===================*/

.widget-chart li {
  width: 31.5%;
  display: inline-block;
  padding: 0;
}

.widget-chart li i {
  font-size: 22px;
}

.mini-stat {
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.05);
  padding: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 30px;
}

.mini-stat-icon {
  width: 60px;
  height: 60px;
  display: inline-block;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  float: left;
  margin-right: 10px;
}

.mini-stat-info {
  font-size: 14px;
  padding-top: 2px;
}

.mini-stat-info span {
  display: block;
  font-size: 24px;
}

.round {
  line-height: 64px;
  color: #ffffff;
  width: 60px;
  height: 60px;
  font-size: 36px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  border-radius: 10%;
  background: transparent;
}

.bg-progress {
  background-color: #abb4e2;
}

.text-greylight {
  color: #c1c5e2;
}

.new-user table td img,
.new-user ul li img {
  margin-right: 8px;
  width: 40px;
}

#boxscroll,
#boxscroll2 {
  height: 450px;
  width: auto;
  overflow: auto;
}

/*--FB-TWIT-Carousel--*/

.vertical .carousel-item-next.carousel-item-left,
.vertical .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.vertical .carousel-item-next,
.vertical .active.carousel-item-right {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100% 0);
}

.vertical .carousel-item-prev,
.vertical .active.carousel-item-left {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.carousel-icon i {
  font-size: 90px;
  width: 120px;
  height: 120px;
  /* background: url("../../assets/images/small/img-9.jpg"); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: -22px 22px;
  color: #ffffff;
}

#verticalCarousel .carousel-inner .bg-tweet {
  background-color: #8186d8;
}

#verticalCarousel .carousel-inner .bg-face {
  background-color: #39599a;
}

#verticalCarousel,
#verticalCarousel2 {
  height: 305px;
}

.custom-dash-nav .active .card {
  background-color: #3f51b5;
  color: #ffffff;
}

.custom-dash-nav .active .search-type-arrow {
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 25px solid #ffffff;
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -35px;
  transform: translate3d(3px, 0, 0);
  z-index: 99;
}

.jvectormap-zoomin,
.jvectormap-zoomout {
  display: none;
}

#v-cal .vcal-week span {
  font-size: 14px !important;
  padding: 8px;
  font-weight: 500;
}

#v-cal .vcal-header__label {
  bottom: -1px;
  display: inline-block;
  position: relative;
}

#v-cal .vcal-header svg {
  bottom: -1px;
  display: block;
  position: relative;
}

#v-cal .vcal-date {
  padding: 10px;
}

.bg-weather {
  /* background-image: url("../images/weather.png"); */
  background-size: cover;
  background-position: center center;
}

.bg-lightgreen {
  background-color: #a8a16d;
}

.bg-lightblue {
  background-color: #8186d8;
}

/* ==============
  Maps
===================*/

.gmaps,
.gmaps-panaroma {
  height: 300px;
  background: #eff3f6;
  border-radius: 3px;
}

.gmaps-overlay {
  display: block;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  line-height: 40px;
  background: #3f51b5;
  border-radius: 4px;
  padding: 10px 20px;
}

.gmaps-overlay_arrow {
  left: 50%;
  margin-left: -16px;
  width: 0;
  height: 0;
  position: absolute;
}

.gmaps-overlay_arrow.above {
  bottom: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid #3f51b5;
}

.gmaps-overlay_arrow.below {
  top: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #3f51b5;
}

/* ==============
  Account Pages
===================*/

.accountbg {
  /* background: url("../images/bg-account.jpg"); */
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
}

.wrapper-page {
  max-width: 100%;
  position: relative;
  padding: 150px;
}

.wrapper-page .logo-admin {
  float: none !important;
}

.wrapper-page .display-table-cell {
  display: table;
  width: 100%;
  height: 100%;
}

.wrapper-page .home-desc-center {
  display: table-cell;
  vertical-align: middle;
}

.wrapper-page .card {
  border: 7px groove #3f51b5;
  border-radius: 10px;
}

.user-thumb {
  position: relative;
  z-index: 999;
}

.user-thumb img {
  height: 88px;
  margin: 0 auto;
  width: 88px;
}

.ex-page-content h1 {
  font-size: 98px;
  color: #009688;
  font-weight: 700;
  line-height: 150px;
  text-shadow: #40c0c3 1px 1px, #3f51b5 2px 2px, #1e51a4 3px 3px;
}

/* ==============
  Menu
===================*/

body {
  padding-bottom: 65px;
}

.wrapper {
  padding-top: 127px;
}

.page-title-box {
  padding: 12px 0;
}

.page-title-box .btn-group {
  margin: 0;
  top: 11px;
}

.page-title-box .page-title {
  font-size: 18px;
  font-weight: 500;
}

.page-title-box .breadcrumb .breadcrumb-item a {
  color: #707070;
}

.container-fluid {
  width: 95%;
}

#topnav {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
  background-color: transparent;
  border: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  min-height: 62px;
}

#topnav .dropdown.show .nav-link {
  background-color: rgba(255, 255, 255, 0.2);
}

#topnav .language-switch a img {
  float: right;
  margin-top: 5px;
}

#topnav .has-submenu.active a {
  color: #ffffff;
}

#topnav .has-submenu.active .submenu li.active>a {
  color: #009688;
}

#topnav .topbar-main {
  background-color: #ffffff;
  box-shadow: 0px 0px 5px 0.5px #eff3f6;
}

#topnav .topbar-main .logo {
  line-height: 60px;
  float: left;
}

#topnav .topbar-main .logo-large {
  position: absolute;
  top: 8px;
}

#topnav .topbar-main .logo-small {
  display: none;
}

#topnav .topbar-main .badge-topbar {
  position: absolute;
  top: 7px;
  right: 7px;
  z-index: 99;
}

#topnav .topbar-main .nav>li>a {
  height: 36px;
  width: 36px;
  padding: 0;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  margin: 12px 8px;
  color: rgba(45, 59, 72, 0.7);
}

#topnav .topbar-main .nav>li>a:focus,
#topnav .topbar-main .nav>li>a:hover {
  background-color: rgba(45, 59, 72, 0.1);
  color: #2d3b48;
}

#topnav .topbar-main .navbar-nav>.open>a {
  background-color: rgba(45, 59, 72, 0.1) !important;
}

#topnav .topbar-main .profile img {
  height: 34px;
  width: 34px;
  display: block;
}

#topnav .topbar-main .navbar-nav {
  margin: 0;
}

#topnav .navbar-custom {
  background-color: #3f0048;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding-left: 0;
}

#topnav .navbar-toggle {
  border: 0;
  position: relative;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

#topnav .navbar-toggle:hover {
  background-color: transparent;
}

#topnav .navbar-toggle:hover span {
  background-color: #2d3b48;
}

#topnav .navbar-toggle .lines {
  width: 25px;
  display: block;
  position: relative;
  padding-top: 13px;
  height: 23px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

#topnav .navbar-toggle span {
  height: 2px;
  width: 100%;
  background-color: rgba(45, 59, 72, 0.8);
  display: block;
  margin-bottom: 5px;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
}

#topnav .navbar-toggle.open span {
  position: absolute;
}

#topnav .navbar-toggle.open span:first-child {
  top: 18px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#topnav .navbar-toggle.open span:nth-child(2) {
  visibility: hidden;
}

#topnav .navbar-toggle.open span:last-child {
  width: 100%;
  top: 18px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#topnav .navigation-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

#topnav .navigation-menu>li {
  display: inline-block;
  position: relative;
}

#topnav .navigation-menu>li>a {
  display: block;
  color: #ffffff;
  font-size: 15px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  line-height: 18px;
  padding-left: 25px;
  padding-right: 25px;
}

#topnav .navigation-menu>li>a:hover {
  color: #ffffff;
}

#topnav .navigation-menu>li>a:focus {
  color: #ffffff;
}

#topnav .navigation-menu>li>a:active {
  color: #ffffff;
}

#topnav .navigation-menu>li>a i {
  display: inline-block;
  font-size: 18px;
  line-height: 25px;
  margin-left: 3px;
  margin-right: 10px;
  text-align: center;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  background-color: #e7077d;
  border-radius: 3px;
  margin-top: -4px;
}

#topnav .navigation-menu>li>a:hover,
#topnav .navigation-menu>li>a:focus {
  background-color: transparent;
}

#topnav .has-submenu.active a i {
  background-color: #22b3c6;
}

/* Notification */

.notification-list {
  margin: 0 !important;
}

.notification-list .noti-title {
  border-radius: 0.25rem 0.25rem 0 0;
  background-color: #e7077d;
  margin: -4px 0px 0px 0px;
  width: auto;
  color: #ffffff;
  padding: 12px 20px;
  display: block;
}

.notification-list .noti-title h5 {
  margin: 0;
  font-size: 14px;
  padding-top: 4px;
}

.notification-list .noti-title .label {
  float: right;
}

.notification-list .noti-icon {
  font-size: 18px;
  vertical-align: middle;
  color: #2d3b48;
  border-radius: 50%;
  padding: 9px;
  background-color: #eeeff7;
}

.notification-list .noti-icon-badge {
  display: inline-block;
  position: absolute;
  top: 8px;
  right: 4px;
}

.notification-list .notify-item {
  padding: 15px 20px;
  display: block;
}

.notification-list .notify-item .notify-icon {
  float: left;
  height: 36px;
  width: 36px;
  line-height: 36px;
  text-align: center;
  margin-right: 10px;
  border-radius: 50%;
  color: #ffffff;
}

.notification-list .notify-item .notify-icon img {
  margin-top: 4px;
}

.notification-list .notify-item .notify-details {
  margin-bottom: 0;
  overflow: hidden;
  margin-left: 45px;
  line-height: 1.5;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notification-list .notify-item .notify-details b {
  font-weight: normal;
}

.notification-list .notify-item .notify-details small {
  display: block;
  white-space: normal;
}

.notification-list .notify-item .notify-details span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
}

.notification-list .notify-all {
  border-radius: 0 0 0.25rem 0.25rem;
  margin: 0 0 -5px 0;
  background-color: #eff3f6;
}

.notification-list .profile-dropdown .notify-item {
  padding: 4px 20px;
}

.notification-list .nav-link {
  padding: 0 7px;
  line-height: 70px;
}

.notification-list .language-switch a img {
  float: right;
  margin-top: 5px;
}

.profile-dropdown {
  width: 170px;
}

.profile-dropdown i {
  font-size: 17px;
  vertical-align: middle;
  margin-right: 5px;
}

.profile-dropdown span {
  vertical-align: middle;
}

.nav-user img {
  height: 36px;
  width: 36px;
  box-shadow: 0px 0px 2px 0.5px #abb4e2;
}

.arrow-none:after {
  border: none;
  margin: 0;
  display: none;
}

.dropdown-menu-lg {
  width: 270px;
}

.footer {
  left: 0 !important;
  font-family: 'Nunito', sans-serif;
  font-size: inherit;
  padding: 20px 0;
}

.header-title {
  margin-bottom: 8px;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  font-size: 16px;
  font-weight: 500;
  color: #2d3b48;
}

.app-search input::-webkit-input-placeholder {
  font-size: 13px;
}

.app-search input:-moz-placeholder {
  font-size: 13px;
}

.app-search input::-moz-placeholder {
  font-size: 13px;
}

.app-search input:-ms-input-placeholder {
  color: #333333;
  font-size: 13px;
}

.custom-file-control,
.form-control,
.is-focused .custom-file-control,
.is-focused .form-control {
  background-image: linear-gradient(0deg, #009688 2px, rgba(0, 150, 136, 0) 0), linear-gradient(0deg, #aaaaaa 1px, transparent 0);
}

.app-search {
  position: relative;
  padding-top: 13px;
  padding-bottom: 15px;
  margin-right: 20px;
}

.app-search form,
.app-search .bmd-form-group {
  margin-bottom: 0;
}

.app-search .form-control {
  width: 250px;
  color: #333333 !important;
  padding: 10px 40px 10px 20px;
  background-image: none !important;
  background-color: #eeeff7;
  border-radius: 30px;
}

.app-search a i {
  position: absolute;
  top: 20px;
  right: 15px;
  display: block;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  color: #2d3b48;
}

.a-animate-blink {
  -webkit-animation: a-animate-blink 1s step-start 0s infinite;
  -moz-animation: a-animate-blink 1s step-start 0s infinite;
  -ms-animation: a-animate-blink 1s step-start 0s infinite;
  -o-animation: a-animate-blink 1s step-start 0s infinite;
  animation: a-animate-blink 1s step-start 0s infinite;
  animation-fill-mode: initial;
}

@-webkit-keyframes a-animate-blink {
  50% {
    opacity: 0.0;
  }
}

@-moz-keyframes a-animate-blink {
  50% {
    opacity: 0.0;
  }
}

@-o-keyframes a-animate-blink {
  50% {
    opacity: 0.0;
  }
}

@keyframes a-animate-blink {
  50% {
    opacity: 0.0;
  }
}

.bg-pink {
  background-color: #e6077c;
}

.bg-ppd {
  background-color: #3f0047;
}

.bg-blu {
  background-color: #22b3c6;
}

.bg-grey {
  background-color: #929292;
}

.btn-ppk {
  color: #fff;
  background-color: #e6077c;
  border-color: #e6077c
}

.btn-ppd {
  color: #fff;
  background-color: #3f0047;
  border-color: #3f0047
}

.btn-blu {
  color: #fff;
  background-color: #22b3c6;
  border-color: #22b3c6
}

.badge-pink {
  background-color: #e6077c;
  color: #fff;
}

.badge-ppd {
  background-color: #3f0047;
  color: #fff;
}

.badge-blu {
  background-color: #22b3c6;
  color: #fff;
}

.badge-grey {
  background-color: #929292;
  color: #fff;
}

.col-pink {
  color: #e6077c;
}

.col-ppd {
  color: #3f0047;
}

.col-bb {
  color: #2c2c2c;
}

.carousel-control-next-icon,
.carousel-control-prev-icon i {
  color: #333;
}

.carousel-control-next-icon {
  position: relative;
  right: -50px;
}

.carousel-control-prev-icon {
  position: relative;
  left: -50px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #ccc;
  position: relative;
  bottom: -50px;
}

.carousel-indicators .active {
  background-color: #e6077c;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-color: #e6077c;
}

.cv {
  border: 1px solid #f0f0f0;
  padding: 5px 0 15px 0;
  border-radius: 5px;
  margin: 10px 0 0 0;
}

.cv1 {
  border: 1px solid #f0f0f0;
  padding: 10px;
  background: #fcfcfc;
  border-radius: 5px;
  width: 100%;
}

.cv2 {
  border: 1px solid #f0f0f0;
  padding: 5px;
  background: #fcfcfc;
  border-radius: 5px;
  width: 100%;
  margin: 10px;
}

.mdb {
  position: relative;
  background: #e6077c;
  padding: 4px 5px;
  border-radius: 5px;
  color: #fff;
  top: -4px;
}

.mdb:hover {
  background: #e6077c;
  color: #fff;
}

.msform input[type=text],
.msform input[type=file],
.msform input[type=password],
.msform textarea,
.msform select,
.dform {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 13px;
}

.sz {
  font-size: 20px;
}

.mv {
  position: relative;
  bottom: 30px;
  left: 9px;
  background-color: rgba(255, 255, 255, 0.67);
  padding: 4px;
  color: #850000;
}

/*
  Responsive Menu
*/

@media (min-width: 992px) {
  #topnav .navigation-menu>li>a {
    padding-top: 20px;
    padding-bottom: 16px;
  }

  #topnav .navigation-menu>li.last-elements .submenu {
    left: auto;
    right: 0;
  }

  #topnav .navigation-menu>li.last-elements .submenu>li.has-submenu .submenu {
    left: auto;
    right: 100%;
    margin-left: 0;
    margin-right: 10px;
  }

  #topnav .navigation-menu>li:hover a {
    color: #ffffff;
  }

  #topnav .navigation-menu>li:hover a i {
    color: #ffffff;
  }

  #topnav .navigation-menu>li .submenu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    padding: 15px 0;
    list-style: none;
    min-width: 200px;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    margin-top: 20px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    background-color: #ffffff;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.1);
  }

  #topnav .navigation-menu>li .submenu.megamenu {
    white-space: nowrap;
    width: auto;
  }

  #topnav .navigation-menu>li .submenu.megamenu>li {
    overflow: hidden;
    width: 200px;
    display: inline-block;
    vertical-align: top;
  }

  #topnav .navigation-menu>li .submenu>li.has-submenu>a::after {
    content: "\F142";
    font: normal normal normal 24px/1 "Material Design Icons";
    position: absolute;
    right: 20px;
    top: 8px;
    font-size: 15px;
  }

  #topnav .navigation-menu>li .submenu>li .submenu {
    left: 100%;
    top: 0;
    margin-top: 10px;
  }

  #topnav .navigation-menu>li .submenu li {
    position: relative;
  }

  #topnav .navigation-menu>li .submenu li ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  #topnav .navigation-menu>li .submenu li a {
    display: block;
    padding: 8px 25px;
    clear: both;
    white-space: nowrap;
    font-size: 15px;
    color: #2d3b48;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
  }

  #topnav .navigation-menu>li .submenu li a:hover {
    color: #009688;
  }

  #topnav .navigation-menu>li .submenu li span {
    display: block;
    padding: 8px 25px;
    clear: both;
    line-height: 1.42857143;
    white-space: nowrap;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: #2d3b48;
  }

  #topnav .navbar-toggle {
    display: none;
  }

  #topnav #navigation {
    display: block;
  }
}

@media (max-width: 991px) {
  .wrapper {
    padding-top: 60px;
  }

  .container-fluid {
    width: 100%;
    box-shadow: 0px 0px 0px 0.5px #eff3f6;
  }

  #topnav .navigation-menu {
    float: none;
    max-height: 400px;
    text-align: left !important;
  }

  #topnav .navigation-menu>li {
    display: block;
  }

  #topnav .navigation-menu>li>a {
    color: #353535;
    padding: 15px;
  }

  #topnav .navigation-menu>li>a i {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0;
    color: #ffffff;
    vertical-align: inherit;
  }

  #topnav .has-submenu.active a,
  #topnav .navigation-menu>li>a:active,
  #topnav .navigation-menu>li>a:hover {
    color: #3f51b5 !important;
  }

  #topnav .navigation-menu>li>a:after {
    position: absolute;
    right: 15px;
  }

  #topnav .navigation-menu>li .submenu {
    display: none;
    list-style: none;
    padding-left: 20px;
    margin: 0;
  }

  #topnav .navigation-menu>li .submenu li a {
    display: block;
    position: relative;
    padding: 7px 20px;
    color: #3f51b5;
  }

  #topnav .navigation-menu>li .submenu li a:hover {
    color: #3f51b5;
  }

  #topnav .navigation-menu>li .submenu li.has-submenu>a::after {
    content: "\F140";
    font: normal normal normal 24px/1 "Material Design Icons";
    position: absolute;
    right: 30px;
  }

  #topnav .navigation-menu>li .submenu.open {
    display: block;
  }

  #topnav .navigation-menu>li .submenu .submenu {
    display: none;
    list-style: none;
  }

  #topnav .navigation-menu>li .submenu .submenu.open {
    display: block;
  }

  #topnav .navigation-menu>li .submenu.megamenu>li>ul {
    list-style: none;
    padding-left: 0;
  }

  #topnav .navigation-menu>li .submenu.megamenu>li>ul>li>span {
    display: block;
    position: relative;
    padding: 15px;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
    color: #2d3b48;
  }

  #topnav .navigation-menu>li.has-submenu.open>a {
    color: #3f51b5;
  }

  #topnav .navbar-header {
    float: left;
  }

  #navigation {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    display: none;
    height: auto;
    padding-bottom: 0;
    overflow: auto;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    background-color: #ffffff;
  }

  #navigation.open {
    display: block;
    overflow-y: auto;
  }
}

@media (max-width: 640px) {
  .app-search {
    display: none;
  }
}

@media (min-width: 768px) {
  #topnav .navigation-menu>li.has-submenu:hover>.submenu {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
  }

  #topnav .navigation-menu>li.has-submenu:hover>.submenu>li.has-submenu:hover>.submenu {
    visibility: visible;
    opacity: 1;
    margin-top: -1px;
    margin-right: 0;
  }

  .navbar-toggle {
    display: block;
  }
}

@media (max-width: 620px) {
  .logo-large {
    display: none;
  }

  .logo-small {
    display: inline-block !important;
    margin-left: -2px;
    height: 28px;
  }

  .notification-list .noti-icon {
    font-size: 24px;
  }

  .app-search {
    display: none;
  }
}

.topbar-custom {
  border-radius: 0;
  margin-bottom: 0;
}

.topbar-custom .nav-link {
  line-height: 66px;
  color: #2d3b48;
}

.topbar-custom .dropdown-toggle:after {
  content: initial;
}

.topbar-custom .menu-left {
  overflow: hidden;
}

.table td,
.table th {
  padding: 5px;
  vertical-align: top;
  border-top: none;
}

.line {
  border-bottom: 1px solid #e4e4e4;
  margin: 20px 0 5px 0;
}

.bline {
  border-bottom: 1px dotted #e4e4e4;
  margin: 3px 0;
}

.clr {
  margin: 0;
  padding: 0;
  clear: both;
}

#pos {
  position: absolute;
  top: 0;
  left: -120px;
  will-change: top, left;
}

.wdd {
  width: 130px;
}

.wdd1 {
  width: 180px;
}

/*
File: Responsive
*/

@media (min-width: 768px) and (max-width: 1366px) {
  .stock-detail p {
    margin-bottom: 0;
  }
}

@media (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  .tab-btn {
    display: inline-block !important;
    width: 100%;
  }

  .page-content-wrapper .dash-tab {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  body {
    overflow-x: hidden;
  }

  .tab-btn {
    display: inline-block !important;
    width: 100%;
  }

  .page-content-wrapper .dash-tab {
    display: none;
  }

  .nav-pro-img img {
    width: 44px;
    height: 44px;
  }
}

@media (max-width: 768px) {
  .side-menu.left {
    margin-left: -100%;
  }

  .content-page {
    margin-left: 0;
  }

  .enlarged .side-menu.left {
    margin-left: 0 !important;
  }

  .button-menu-mobile {
    display: inline-block;
  }

  .navbar-custom {
    padding-left: 5px;
  }

  .content-page>.content {
    padding: 20px;
  }

  #wrapper.enlarged .footer,
  .footer {
    left: 0;
  }

  .nav-pro-img img {
    width: 44px;
    height: 44px;
  }

  .wrapper-page {
    width: 100%;
    padding: 0px;
  }

  .page-title-box {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }

  .content-page {
    margin-left: 0 !important;
  }

  .enlarged .left.side-menu {
    margin-left: -75px;
  }

  .mobile-sidebar {
    left: 0;
  }

  .mobile-content {
    left: 250px;
    right: -250px;
  }

  .navbar-nav .open .dropdown-menu {
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    left: auto;
    position: absolute;
    right: 0;
  }

  .fc-toolbar .fc-right {
    float: left;
    margin: 10px 0;
  }

  .tab-btn {
    display: inline-block !important;
    width: 100%;
  }

  .page-content-wrapper .dash-tab {
    display: none;
  }
}

@media (max-width: 620px) {
  .page-header-title {
    text-align: center;
  }

  .dataTables_paginate .page-link {
    padding: .35rem .5rem;
  }

  .mo-mb-2 {
    margin-bottom: 10px;
  }

  .mo-mt-2 {
    margin-top: 10px !important;
  }

  .pagination-lg .page-link {
    padding: .25rem .5rem;
    font-size: 15px;
  }

  .tab-btn {
    display: inline-block !important;
    width: 100%;
  }

  .page-content-wrapper .dash-tab {
    display: none;
  }

  .page-title-box {
    margin-top: 5px;
  }

  .wdd {
    width: 100%;
  }

  .wdd1 {
    width: 100%;
  }

  #pos {
    position: absolute;
    top: 0;
    left: -50px;
  }
}

@media (max-width: 480px) {
  .side-menu {
    z-index: 10;
  }

  .button-menu-mobile {
    display: block;
  }

  .page-title-box {
    display: none;
  }

  .wrapper {
    padding-top: 96px;
  }

  .metro-widget p {
    font-size: 13px;
  }

  .stock-detail p {
    margin-bottom: 0;
  }

  .dash-map h6 {
    font-size: 13px;
  }

  #v-cal .vcal-week span {
    font-size: 12px !important;
  }

  .dash-map .usa {
    border-bottom: 1px solid #dee2e6;
  }

  .dash-map .afri {
    border-right: 0px !important;
    border-bottom: 1px solid #dee2e6;
  }

  .dash-map .ind {
    padding-top: 12px;
  }

  .dash-map .can {
    padding-top: 12px;
  }
}

@media (max-width: 420px) {

  .hide-phone,
  .notify-icon {
    display: none;
  }

  .dropdown-menu-lg {
    width: 200px;
  }

  .notify-details {
    margin-left: 0 !important;
  }
}

/*# sourceMappingURL=style.css.map */

.role-add {
  font-size: 14px;
  padding: 2px 18px;
}

.modal-open {
  padding-right: 0px !important;
}
